@model Do_An_Chuyen_Nganh.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/layoutuser/clients/css/dangtin.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/LayoutAdmin/api_tinh_thanhpho_2.js"></script>

<section class="container">
    <div class="card">
        <h2>Đăng tin mới</h2>
        <div class="card__body ">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <section>
                    <b>Thông tin bắt buộc</b>
                    <div class="form-control form-control-category_id">
                        <select asp-for="CategoryId" class="select mselect isDropdown hasValue required" asp-items="ViewBag.CategoryId"></select>
                        <label for="category_id">Danh mục</label>
                    </div>
                    <div class="d-flex-wrap grid-2 gap-10">
                       <div>
                            <span asp-validation-for="Title" class="text-danger"></span>
                            <div class="form-control form-control-name ">
                                <input class="minput" asp-for="Title" placeholder="Tiêu đề">
                            </div>
                       </div>
                        <div>
                            <span asp-validation-for="Price" class="text-danger"></span>
                            <div class="form-control form-control-price ">
                                <input class="minput" asp-for="Price" placeholder="Giá">
                            </div>
                        </div>          
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <div class=" form-textarea form-control form-control-content">
                        <div class="focus-capture"></div>
                        <textarea class="required sodjbf4" asp-for="Description"></textarea>
                        <label for="field-content">Mô tả chi tiết</label>
                    </div>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    <div class="d-flex-wrap grid-2 gap-10">
                        <div class="form-control form-control-name ">
                            <input class="minput" asp-for="Quantity" placeholder="Số lượng sản phẩm">
                        </div>
                    </div>
                    <div>
                        <b>Hình ảnh và Video sản phẩm</b>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>

                        <div class="upload-files">
                            <input type="file" asp-for="ImageFile" accept="image/*" multiple id="image-upload" />
                        </div>
                    </div>

                </section>
                <section>
                    <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <div class="address_section" style="display:flex; margin-bottom: 10px">
                            
                                <select class="nice-select" id="province1" style="margin-right:20px" onchange="updateAddressPreview()">Tỉnh/Thành Phố</select>
                                <select class="nice-select" id="district1" style="margin-right:20px" onchange="updateAddressPreview()">
                                    <option value="">Quận/Huyện</option>
                                </select>
                                <select class="nice-select" id="ward1" style="margin-right:20px" onchange="updateAddressPreview()">
                                    @* <option value="">Phường</option> *@
                                </select>                          
                        </div>
                        <div class="">
                            <input name="Diachi"  type="text" placeholder="nhập địa chỉ chi tiết" onchange="updateAddressInput(this)">
                        </div>                     
                        <input type="hidden"  id="UpdatedAddress" asp-for="Address" />
                    </div>
                </section>
                <section>
                    <b>Thông tin thêm <small>(càng chi tiết càng dễ bán hơn)</small></b>
                    <div class="d-flex-wrap grid-2 gap-10">
                        <div class="form-control ">
                            <select asp-for="ConditionId" class="select mselect isDropdown hasValue required" asp-items="ViewBag.ConditionId"></select>
                            <label for="">Tình trạng</label>
                        </div>
                        <div class="form-control ">
                            <select asp-for="ColorId" class="select mselect isDropdown hasValue required" asp-items="ViewBag.ColorId"></select>
                            <label for="attr[color]">Màu sắc</label>
                        </div>
                        <div class="form-control ">
                            <select asp-for="WarrantyId" class="select mselect isDropdown hasValue required" asp-items="ViewBag.WarrantyId"></select>
                            <label for="attr[guarantee]">Bảo hành</label>

                        </div>
                        <div class="form-control form-control-attr[made_in]  ">
                            <select asp-for="ProvenienceId" class="select mselect isDropdown hasValue required" asp-items="ViewBag.ProvenienceId"></select>
                            <label for="attr[made_in]">Xuất xứ</label>
                        </div>
                    </div>
                </section>
                <div class="d-flex justify-content-center gap-10">
                    <a class="btn btn-back" href="/Home/Index">
                        Về danh sách
                    </a>
                    <button type="submit" value="Create" class="btn-primary btn-submit">
                        ĐĂNG TIN
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>

<style>
    #province1, #district1, #ward1 {
        display: block !important;
    }

</style>

<script>
    function updateAddressInput(inputElement) {
        var wardText = $("#ward1 option:selected").text();
        var districtText = $("#district1 option:selected").text();
        var provinceText = $("#province1 option:selected").text();
        // Lấy giá trị địa chỉ từ ô input
        var modelAddress = inputElement.value;
        // Lưu giữ giá trị của result
        var result = "";
        if (districtText != "" && provinceText != "" && wardText != "") {
            result = wardText + ", " + districtText + ", " + provinceText;
        }
        // Cập nhật giá trị của hidden input
        $('input[id="UpdatedAddress"]').val(modelAddress + ", " + result);
        // Hiển thị giá trị của result trong h5
        $("#addressPreview").text(modelAddress + ", " + result);
        console.log(UpdatedAddress)

    }
</script>

