﻿<div class="text-center">
    <p>Bạn đã đặt hàng thành công</p>
    <p>Cảm ơn bạn vì giữa muôn vàn sự lựa chọn đã chọn <b>Chúng tui</b></p>
    <p>Xem chi tiết đơn đặt hàng của bạn <a href="/Order/OrderedPost">tại đây</a></p>
</div>