




<div class="container" style="height: 50vh; display: flex; align-items: center; justify-content: center;">
    <div class="text-center">
        <p>Bạn đã đặt hàng thành công</p>
        <p>Cảm ơn bạn vì giữa muôn vàn sự lựa chọn đã chọn <b>Chúng tôi</b></p>
        <p>Xem chi tiết đơn đặt hàng của bạn <a href="/Order/OrderedPost">tại đây</a></p>
        <div class="img">
            <img style="height: 300px;" src="https://img.freepik.com/premium-vector/thank-you-lettering-doodle-hand-drawn_7087-524.jpg?w=900" />
        </div>
    </div>
</div>

