@charset "UTF-8";

h1 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4 {
    padding: 5px 5px 5px 0;
    margin: 0 !important;
    border-bottom: 1px solid #cacaca;
    color: #777;
    font-size: 14px;
    font-weight: 700;
}

.form-control {
    height: 48px;
    position: relative;
    border-radius: 4px;
    border: 1px solid silver;
    background-color: #fff;
    margin-bottom: 20px;
}

    .form-control.error {
        margin-bottom: 40px;
    }

    .form-control .btn-close {
        display: none;
    }

        .form-control .btn-close.show {
            display: flex;
        }

    .form-control:focus-within {
        border-color: #f80155;
    }

    .form-control.error {
        border-color: #e5193b;
    }

        .form-control.error p {
            color: #e5193b;
        }

    .form-control.disabled {
        border-color: #f4f4f4;
        background-color: #f4f4f4;
    }

    .form-control > label {
        position: absolute;
        top: 13px;
        left: 12px;
        cursor: text;
        pointer-events: none;
        transform-origin: top left;
        transition: transform 0.1s ease;
        color: #8c8c8c;
        font-size: 0.875rem;
    }

    .form-control > button {
        background: transparent;
        outline: none;
        border: none;
        height: 48px;
        min-width: 16px;
        position: absolute;
        top: 0;
        right: 5px;
        color: #2a70df;
        padding: 8px;
    }

    .form-control > .password {
        top: -1px;
    }

    .form-control svg {
        font-size: 0.75rem;
    }

    .form-control > svg {
        height: 48px;
        top: -1px;
        right: 12px;
        pointer-events: none;
    }

.title-line {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

    .title-line > hr {
        width: 100%;
        color: #8c8c8c;
    }

    .title-line > span {
        white-space: nowrap;
        color: #595959;
        margin: 0 12px;
    }

.notify {
    background: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px 25px 15px 10px;
    border-radius: 4px;
    color: white;
    z-index: 9999999;
}

.notify--error {
    background: #d22b2b;
}

.notify--success {
    background: green;
}

.notify button {
    background: transparent;
    position: absolute;
    top: 1px;
    right: 3px;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.relative {
    position: relative;
}

.overlay {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5098039216);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

    .overlay .loader {
        position: absolute;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 30px;
        height: 30px;
        animation: spin 0.3s linear infinite;
        top: 10px;
        right: 10px;
    }

/* Safari */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.img {
    width: 100px;
    height: 100px;
}

.label-icon {
    display: flex;
    padding: 5px 0;
    gap: 5px;
    line-height: 22px;
}

.full {
    width: 100%;
}

.hide {
    display: none !important;
}

.scroll {
    overflow: scroll;
}

.no-radius {
    border-radius: 0;
}

.d-flex {
    display: flex;
}

.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

    .d-flex-wrap.grid-5 > div:last-child {
        flex: 1;
    }

.justify-content-center {
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.white-box {
    background: white;
}

.box-radius {
    border-radius: 5px;
}

.no-wrap {
    white-space: nowrap;
}

.p-10 {
    padding: 10px;
}

.m-10 {
    margin: 10px;
}

.m-0 {
    margin: 0;
}

.flex-row {
    display: flex;
    padding: 10px;
    background: white;
    flex-wrap: wrap;
}

    .flex-row > div {
        margin: 5px 10px 10px 0;
    }

.align-center {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gap-10 {
    gap: 15px;
}

.grid-2, .grid-3, .grid-4, .grid-5 {
    display: flex;
    flex-wrap: wrap;
}

    .grid-2 > * {
        flex: 1 0 calc(50% - 20px);
    }

    .grid-3 > * {
        flex: 1 0 calc(33% - 20px);
        padding: 10px;
    }

    .grid-4 > * {
        flex: 1 0 calc(25% - 20px);
        padding: 10px;
    }

    .grid-5 > * {
        flex: 0 0 calc(20% - 20px);
        padding: 10px;
    }

.grid-6 > * {
    flex: 0 0 calc(18.667% - 20px);
    padding: 10px;
}

.row {
    margin: 0 -10px;
}

    .row > div {
        float: left;
    }

.col-md-4, .col-md-8 {
    padding: 0 10px;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-8 {
    width: 66.33333333%;
}

.m-r-20 {
    margin-right: 20px;
}

.text-small {
    font-size: 10px;
    line-height: 16px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.text-gray {
    color: #9b9b9b;
}

.view-more {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    display: block;
    width: 120px;
    color: rgb(56, 105, 159);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    margin: 0 auto;
}

.danger {
    background: red !important;
}

.success {
    background: green !important;
}

.warning {
    background: salmon !important;
}

#dusktext {
    position: fixed;
    top: 125px;
    left: 50px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    opacity: 0.7;
    z-index: 20;
    color: white;
    font-size: 30px;
}

.hide-pc {
    display: none !important;
}

.no-padding {
    padding: 0 !important;
}

.img-circle {
    border-radius: 50%;
}

@media (max-width: 991px) {
    .grid-2 > div {
        width: 30%;
    }

    .grid-3 > div {
        width: 50%;
    }

    .grid-6 > div {
        flex: 1 0 calc(30% - 20px);
    }

    .hide-xs {
        display: none !important;
    }

    .hide-pc {
        display: initial !important;
    }
}

@media (max-width: 768px) {
    .col-md-4, .col-md-8 {
        width: 100%;
    }

    .d-lg-block {
        display: none;
    }
}

@media (max-width: 540px) {
    .grid-2 > div, .grid-3 > div, .grid-4 > div, .grid-5 > div {
        width: 100%;
        flex: 1 0 100%;
    }

    .grid-6 > div {
        flex: 1 0 calc(50% - 20px);
    }
}

.mselect {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    color: #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 11px 12px 0;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

    .mselect.required + label:after {
        content: "*";
        margin-left: 4px;
        color: #e5193b;
    }

    .mselect:disabled {
        background-color: #f4f4f4;
        cursor: default;
    }

    .mselect.noLabel {
        padding-top: 0;
    }

    .mselect.hasValue + label, .mselect:-webkit-autofill + label {
        transform: scale(0.7143) translateY(-10px);
        font-weight: 700;
    }

.p131urh5 {
    color: #8c8c8c;
    font-size: 0.625rem;
    min-height: 16px;
    margin-left: 12px;
    line-height: 1.5;
}

.s131j4vo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    line-height: 16px;
    height: var(--s131j4vo-1);
    width: fit-content;
    padding: 8px 12px;
    border-radius: 9999px;
    background-color: #f4f4f4;
    font-size: var(--s131j4vo-6);
    cursor: pointer;
    min-width: var(--s131j4vo-7);
    text-align: center;
}

    .s131j4vo.onMultiActiveTagCloud:not(.active):hover {
        background-color: #f4f4f4;
        color: #222;
    }

    .s131j4vo.active {
        background-color: #ffe9c2;
        color: #f80;
    }

        .s131j4vo.active:hover {
            color: #f80;
        }

.c14jmev1:focus, .c14jmev1:link, .c14jmev1:visited {
    outline: none;
    color: #222;
}

.c14jmev1:hover, .c14jmev1:not([href]):hover {
    background-color: #ffe9c2;
    color: #f80;
}

.s6gb1av .chip-wrapper {
    display: flex;
    flex-wrap: wrap;
}

    .s6gb1av .chip-wrapper > * {
        margin-right: 8px;
        margin-bottom: 8px;
    }

.s1jyec19 {
    display: block;
    font-size: 0.625rem;
    color: #8c8c8c;
    line-height: 1.5;
    font-weight: 700;
}

    .s1jyec19.required:after {
        content: "*";
        margin-left: 4px;
        color: #e5193b;
    }

.c14gw4h button {
    display: inline-block;
}

.form-textarea {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid silver;
    height: 140px;
}

    .form-textarea.resize-both {
        resize: both;
        overflow: auto;
    }

    .form-textarea.resize-vertical {
        resize: vertical;
        overflow: auto;
    }

    .form-textarea.resize-horizontal {
        resize: horizontal;
        overflow: auto;
    }

    .form-textarea > .focus-capture {
        cursor: text;
        height: 30px;
    }

    .form-textarea.disabled > .focus-capture {
        cursor: auto;
    }

    .form-textarea > label {
        position: absolute;
        top: 11px;
        left: 13px;
        cursor: text;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform-origin: top left;
        transition: transform 0.1s ease;
        color: #8c8c8c;
        font-size: 0.875rem;
    }

.sodjbf4 {
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    padding: 0 12px 4px;
    outline: none;
    border: none;
    line-height: 20px;
    height: calc(100% - 30px);
    resize: none;
    background-color: #fff;
}

.btn, button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #f4f4f4;
   border: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    outline: none;
}

    .btn:hover, button:hover {
        background: silver;
        color: white;
    }

    .btn i, button i {
        width: 1em;
        height: 1.3em;
        color: #222;
        background-size: 1em 1.3em;
        background-repeat: no-repeat;
    }

    .btn .clear, button .clear {
        position: absolute;
        top: -2px;
        right: 2px;
        padding: 5px;
        opacity: 0.5;
    }

        .btn .clear:hover, button .clear:hover {
            opacity: 1;
        }

    .btn svg, button svg {
        width: 16px;
        height: 22px;
    }

.btn--primary, button--primary {
    background: #f80;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}

    .btn--primary:hover, button--primary:hover {
        background-color: #e56700;
        border-color: #e56700;
    }

    .btn--primary:active, button--primary:active {
        color: #fff;
        background-color: #e56700;
        border-color: #e56700;
    }

    .btn--primary.i-left > svg, button--primary.i-left > svg {
        margin-right: 0.5em;
        margin-left: 0;
        font-size: 1rem;
    }

.btn--oval, button--oval {
    border: 1px solid #d0021b;
    border-radius: 20px;
    color: #d0021b;
}

    .btn--oval:hover, button--oval:hover {
        background-color: #e2e6ea;
    }

.btn--large, button--large {
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn--small, button--small {
    padding: 4px 8px;
}

i {
    height: 20px;
    width: 20px;
    background-size: cover;
    display: inline-block;
}

    i.location {
        background-image: url("/img/icon/location.svg");
    }

    i.label-dollar {
        background-image: url("/img/icon/price2.svg");
    }

    i.search {
        background-image: url("/img/icon/search-black.svg");
    }

    i.sitemap {
        background-image: url("/img/icon/sitemap.svg");
    }

    i.state-used {
        background-image: url("/img/icon/state_used.png");
    }

    i.product-type {
        background-image: url("/img/icon/product_type.png");
    }

    i.close {
        width: 10px;
        height: 10px;
    }

        i.close:before, i.close:after {
            position: absolute;
            left: 5px;
            content: " ";
            height: 10px;
            width: 3px;
            background-color: black;
        }

        i.close:before {
            transform: rotate(45deg);
        }

        i.close:after {
            transform: rotate(-45deg);
        }

input {
    height: 36px;
}

.minput {
    width: 100%;
    height: 100%;
    color: #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 12px 12px 0;
    border-radius: 4px;
    background-color: #fff;
}

    .minput.required + label:after {
        content: "*";
        margin-left: 4px;
        color: #e5193b;
    }

    .minput.isDropdown {
        cursor: pointer;
    }

    .minput:disabled {
        background-color: #f4f4f4;
        cursor: default;
    }

    .minput.noLabel {
        padding-top: 0;
    }

    .minput.hasValue + label, .minput:-webkit-autofill + label {
        transform: scale(0.7143) translateY(-10px);
        font-weight: 700;
    }

    .minput:focus + label {
        transform: scale(0.7143) translateY(-10px);
        font-weight: 700;
    }

.upload-files {
    display: flex;
    gap: 10px;
}

    .upload-files .preview {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }

        .upload-files .preview img {
            height: 100px;
        }

.dropdown {
    position: relative;
}

    .dropdown.show .dropdown__content {
        display: block;
    }

.dropdown__content {
    background: white;
    position: absolute;
    top: 36px;
    display: none;
    z-index: 3;
}

    .dropdown__content .head {
        position: relative;
        background-color: #f4f4f4;
        padding: 10px;
    }

        .dropdown__content .head h4 {
            text-align: center;
            margin: 0;
        }

        .dropdown__content .head .dropdown__close {
            position: absolute;
            top: 5px;
            right: 0px;
            border: 0;
            opacity: 0.5;
        }

            .dropdown__content .head .dropdown__close:hover {
                background: transparent;
                opacity: 1;
            }

    .dropdown__content .body {
        width: 300px;
        max-height: 300px;
    }

    .dropdown__content.show {
        display: block;
    }

    .dropdown__content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .dropdown__content ul li {
            transition: opacity 0.5s ease-in;
            border-bottom: 1px solid #cacaca;
            position: relative;
            height: 45px;
            cursor: pointer;
        }

            .dropdown__content ul li:hover {
                background-color: #f9f9f9;
            }

            .dropdown__content ul li a {
                color: inherit;
                display: flex;
                align-items: center;
                text-decoration: inherit;
                width: 100%;
                font-size: 14px;
                position: absolute;
                line-height: 45px;
                padding: 0 25px;
            }

                .dropdown__content ul li a img {
                    height: 14px;
                    margin-left: auto;
                }

                .dropdown__content ul li a > span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .dropdown__content ul li a p {
                    margin: 0;
                    display: inline-flex;
                }

                .dropdown__content ul li a i {
                    line-height: 45px;
                }


.selection {
    position: relative;
}

.selection__list {
    min-width: 100%;
    max-height: 300px;
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    list-style: none;
    overflow-y: auto;
    padding: 0;
    z-index: 2;
    border-radius: 4px;
    color: #8c8c8c;
    display: none;
}

    .selection__list.show {
        display: block;
    }

    .selection__list li {
        cursor: pointer;
        padding: 8px 0 8px 12px;
    }

        .selection__list li:hover {
            background-color: #e8e8e8;
        }

@media (max-width: 767px) {
    .dropdown__content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

        .dropdown__content .body {
            width: 100%;
        }
}
a {
    color: #222;
    text-decoration: none;
    text-overflow: unset;
    white-space: unset;
}

    a:hover {
        color: #d0021b;
    }


h4, h5, h6 {
    margin-top: 0;
}

.row:after {
    clear: both;
    content: " ";
    display: table;
}

